{% extends "base.html" %}
{% block content %}
<div class="biocontainer">
                <div class="profileinfo">
                    <h1>Hi I am Techiiee</h1>
                    <hr/>
                    <h2>Kritika</h2>
                    <p>Developer in Python,Java and lot more....</p>
                    <div><a href='/about'><button class="btn">Explore</button></a></div>
                </div>
            <div class="profilepic">
                <img src="../static/images/profile.png" alt="profile">
            </div>
            </div>
        </div>
        
</div>
{% endblock %} 